<!DOCTYPE html>
<html>
 <head>
   <title> Bài tập lập trình 1 </title>
 </head>
 <body>
   <div>
     <p>
      <h1> chapter 1 </h1>
      <h2> section 1 </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat temporibus quas, provident non quia voluptatibus quibusdam tempore error fuga alias voluptate sint mollitia repellat ullam quaerat facilis omnis? Perspiciatis?
      </p>
     </p>
   </div>
     <form>
        <input type="text">
        <input type="button">
        <input type="number">
        <input type="checkbox">
        <input type="password">
     </form>
   <div>
    <img src = "{{baseurl}}/assets/image/nqk.JPG">
   </div>
   <div>
    <table>
     <tr>
       <th> seq </th>
       <th> color </th>
       <th> #code </th>
       <th> rgb </th>
     </tr>
     <tr>
       <td> 1 </td>
       <td> black </td>
       <td> #000000 </td>
       <td> rgb(0,0,0) </td>
     </tr>
     <tr>
       <td> 2 </td>
       <td> white </td>
       <td> #ffffff</td>
       <td> rgb(255,255,255) </td>
     </tr>
     <tr>
       <td> 3 </td>
       <td> red </td>
       <td> #ff0000 </td>
       <td> rgb(255,0,0) </td>
     </tr>
     <tr>
       <td> 4 </td>
       <td> lime </td>
       <td> #00ff00 </td>
       <td> rgb(0,255,0) </td>
     </tr>
     <tr>
       <td> 5 </td>
       <td> blue </td>
       <td> #0000ff </td>
       <td> rgb(0,0,255) </td>
     </tr>
     <tr>
       <td> 6 </td>
       <td> yellow </td>
       <td> #ffff00 </td>
       <td> rgb(255,255,0) </td>
     </tr>
     <tr>
       <td> 7 </td>
       <td> aqua </td>
       <td> #00ffff </td>
       <td> rgb(0,255,255) </td>
     </tr>
     <tr>
       <td> 8 </td>
       <td> magenta </td>
       <td> #ff00ff </td>
       <td> rgb(255,0,255) </td>
     </tr>
     <tr>
       <td> 9 </td>
       <td> silver </td>
       <td> #c0c0c0 </td>
       <td> rgb(192,192,192)</td>
     </tr>
     <tr>
       <td> 10 </td>
       <td> gray </td>
       <td> #808080 </td>
       <td> rgb(128,128,128) </td>
     </tr>
     <tr>
       <td> 11 </td>
       <td> maroon </td>
       <td> #800000 </td>
       <td> rgb(128,0,0) </td>
     </tr>
     <tr>
       <td> 12 </td>
       <td> olive </td>
       <td> #808000 </td>
       <td> rgb(128,128,0) </td>
     </tr>
     <tr>
       <td> 13 </td>
       <td> green </td>
       <td> #008000 </td>
       <td> rgb(0,128,0) </td>
     </tr>
     <tr>
       <td> 14 </td>
       <td> purple </td>
       <td> #800080 </td>
       <td> rgb(128,0,128) </td>
     </tr>
     <tr>
       <td> 15 </td>
       <td> teal </td>
       <td> #008080 </td>
       <td> rgb(0,128,128) </td>
     </tr>
     <tr>
       <td> 16 </td>
       <td> navy </td>
       <td> #000080 </td>
       <td> rgb(0,0,128) </td>
     </tr>
    </table>
   </div>
 </body>
</html>